@import 'common-480.css';
.page-cv main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  margin: 2rem auto;
}

/* left side */
.page-cv .left {
  color: #fff;
  background-color: #909294;
  padding-bottom: 4rem;
}

.page-cv .left a {
  color: #fff;
}

.page-cv .left #photo {
  height: 468px;
  width: 100%;
  background-image: url(../img/img_cv/photo_cv.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
}

.page-cv .left ul,
.page-cv .left .centres p {
  padding: 0 1rem 0 3rem;
}
.page-cv .left li {
  margin-bottom: 1rem;
}

.page-cv .left .coordonnees h3,
.page-cv .left .formations h3,
.page-cv .left .centres h3 {
  background-repeat: no-repeat;
  padding-left: calc(47px + 1rem);
  min-height: 47px;
  margin: 3rem 0 2rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-cv .left .formations ul li span:first-child {
  font-weight: bold;
}
.page-cv .left .formations ul li span:first-child::after {
  content: ' / ';
}
.page-cv .left .formations ul li span:last-child {
  display: block;
  margin-left: 1.3rem;
  font-size: 0.9rem;
}
.page-cv .left .coordonnees h3 {
  background-image: url(../img/img_cv/coordonnees.png);
}

.page-cv .left .formations h3 {
  background-image: url(../img/img_cv/formation.png);
}
.page-cv .left .centres h3 {
  background-image: url(../img/img_cv/centre_intret.png);
}


.page-cv .left .coordonnees ul li,
.savoir  div ul li{
    padding-top: 0.2rem;
    padding-bottom: 0.9rem;
    padding-left: calc(47px + 0.3rem);
}
.page-cv .left .coordonnees ul li:nth-child(1){
    background: url(../img/img_cv/addres.png) no-repeat;
}
.page-cv .left .coordonnees ul li:nth-child(2){
    background: url(../img/img_cv/e-mail.png) no-repeat;
}
.page-cv .left .coordonnees ul li:nth-child(3){
    background: url(../img/img_cv/tel.png) no-repeat;
}
.page-cv .left .coordonnees ul li:nth-child(4){
    background: url(../img/img_cv/coreenne.png) no-repeat;
}
.page-cv .left .coordonnees ul li:nth-child(5){
    background: url(../img/img_cv/PERMIS.png) no-repeat;
}

.page-cv .left .formations ul li{
    list-style-type: circle;
    list-style-position: inside;
}


/* right side */
.page-cv .right {
  max-width: 80%;
margin: 20px auto;

}

/* right section */
.page-cv .right .section {
  margin-bottom: 1rem;
}
.page-cv .right .section h3 {
  display: flex;
  letter-spacing: 0.3rem;
  margin-top: 0.5rem;    
  margin-bottom: 1rem;
  font-weight: 800;
}
.page-cv .right .section h4 {
  margin-top:  1rem;
  font-size: 1.1em;
}
.page-cv .right .section h3::before,
.page-cv .right .section h3::after {
  content: '';
  background-color: #909294;
  height: 1px;
  flex-grow: 1;
}
.page-cv .right .section h3::before{
  margin: 0.8rem 0.6rem 0.8rem 0;  
}

.page-cv .right .section h3::after{
   margin: 0.8rem 0 0.8rem 0.6rem;  
}
.page-cv .right .section > div:first-child,
.page-cv .right .section h3 {
  flex: 1 0 100%;
  text-align: center;
}

.page-cv .right .section .bloc div ul li:not(:first-child){
    font-weight: 300;
}
.page-cv .right .section .bloc div ul li:nth-of-type(2){

    margin-top: 1rem;
}
.page-cv .right .section.competences h4{
    text-transform: uppercase;
    margin-bottom: 1rem;
}



/* separator */
.page-cv .right h4 span::before,
.page-cv .right .formations ul li span:first-child::after {
  content: ' / ';
}

.page-cv .right div h4::before {
  content: '\2022';
  margin-right: 1rem;
}

.savoir  div ul li {
    margin-bottom: 0.5rem;
}

.savoir  div:nth-of-type(1) ul li:nth-child(1){
    background: url(../img/img_cv/html.png) no-repeat;
}
.savoir  div:nth-of-type(1) ul li:nth-child(2){
    background: url(../img/img_cv/java.png) no-repeat;
}
.savoir  div:nth-of-type(1) ul li:nth-child(3){
    background: url(../img/img_cv/php.png) no-repeat;
}
.savoir  div:nth-of-type(1) ul li:nth-child(4){
    background: url(../img/img_cv/mysql.png) no-repeat;
}

.savoir  div:nth-of-type(2) ul li:nth-child(1){
    background: url(../img/img_cv/photoshop.png) no-repeat;
}
.savoir  div:nth-of-type(2) ul li:nth-child(2){
    background: url(../img/img_cv/illustrator.png) no-repeat;
}
.savoir  div:nth-of-type(2) ul li:nth-child(3){
    background: url(../img/img_cv/indesign.png) no-repeat;
}

.savoir  div:nth-of-type(3) ul li:nth-child(1){
    background: url(../img/img_cv/after_eff.png) no-repeat;
}
.savoir  div:nth-of-type(3) ul li:nth-child(2){
    background: url(../img/img_cv/premier.png) no-repeat;
}

/* column */
.page-cv .right .experiences,
.page-cv .right .competences,
.page-cv .right .langues {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;  
  margin: 30px auto;
}
.page-cv .right .langues {
  text-align: center;
}
.page-cv .right .langues .drapeau{
    display: block;
    margin: 10px auto;
}